---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Welcome to Mitsuki!">
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
  <p>bruh</p>
</PageLayout>
